*{
  padding: 0px;
  margin: 0px;
}
/* navbar */
nav{
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #525151;

}
.navbar{
  padding-left: 40px;
}
/* .username{
  display: flex;
  justify-content: end;
} */
nav ul li{
  display: inline;
  list-style: none;
  margin-left: 20px;
 
}
.username{
  color: #b9b3b3;
  /* margin-left: 200px; */
}

nav ul li a{
  text-decoration: none;
  color: #b9b3b3;
  font-size: 15px;

}
.headings{
  color: #fff;
  margin-left: 80px;
}
.nav ul li :hover{
  color: #fff;
}
/* loginpage */

.loginpage{
 border:1px solid #cdf2f9;
 margin: 100px auto;
 width: 45%;
}
.login-textarea{
  margin-bottom: 50px;
}
.login-section{
 display: flex;
 justify-content: center;
 margin-top: 25px;
 margin-left: 40px;
}
.login-heading{
  background-color: #e6ecf3;
  width: 97%;
  padding: 10px;
}
.login-btn{
  display: flex;
  gap: 20px;
  padding: 10px;
  margin-left: 10px;
}

.input-box{
 height: 4vh;
 width: 60%;
 margin-bottom: 20px;
 margin-left: 20px;
 padding: 3px;
 border: 1px solid #c7cbcb;
 border-radius: 5px;
}
.login-checkbox{
  margin-left: 25px;
}
.login-password{
  color: rgb(23, 116, 197);
  padding-top: 5px;
}
.login-label{
  margin-bottom: 20px;
  margin-top: 8px;
  
  
}
/* navlog */
.navlog{
  background-color:#fff;
 display: flex;
 justify-content: space-between;
 padding-right: 150px;
 border-bottom: 1px solid #cdf2f9;
 height: 4vh;

}

.navlog  .navlog-ul .navlog-li {
  display: inline;
  list-style: none;
}
.navlog  .navlog-ul .navlog-li a{
  color: rgb(104, 103, 103);
}
.navlog-employee{
  margin-left: 150px;
}
/* register page */

.registerpage{
  border:1px solid #cdf2f9;
  margin: 100px auto;
  width: 50%;
 }
 .register-heading{
  background-color: #e6ecf3;
  width: 97%;
  padding: 10px;
}
.register-section{
  display: flex;
 justify-content: center;
 margin-top: 25px;
 margin-left: 40px;
}
.register-textarea{
  margin-bottom: 50px;
}
.inputarea{
  height: 4vh;
  width: 60%;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 3px;
  border: 1px solid #c7cbcb;
  border-radius: 5px;
 }
 .register-label{
  margin-bottom: 20px;
  margin-top: 8px;

}
.register-btn{
  margin-left: 25px;
}
/* desigination list */



.designation-inputs{
 display: flex;
}
.designation-heading{
  padding-left: 60px;
  margin-top: 20px;
 display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin-right: 50px;
}

.designation-inputs{
  display: flex;
  justify-content: end;
  margin-right: 40px;
 margin-top:10px ;
}
.designation-inputs input{
  padding: 8px;
}
.desgination-table{
  border-color: #201f1f;
  width: 50%;
  margin: 0 auto;
 border-collapse: collapse;
}

.button-btn{
  display: flex;
  background-color: #525151;
  width: 35%;
}
th{
  padding: 8px;
}
 td {
  border-bottom: 1px solid #8b8989;
  background-color: #f2f2f2;
  padding: 8px;
}
/* employee table */
.employe-heading{
  padding-left: 60px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin-right: 50px;
}
.employe-table{
  border-color: #201f1f;
  width: 50%;
  margin: 0 auto;
 border-collapse: collapse;
}
.employee-inputs{
  display: flex;
  justify-content: end;
  margin-right: 40px;
 margin-top:10px ;
}
.employee-inputs input{
  padding: 8px;
}





