nav{
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #525151;

}
.navbar{
  padding-left: 40px;
 
}
nav ul li{
  display: inline;
  list-style: none;
  margin-left: 20px;
 
 
}
nav ul li a{
  text-decoration: none;
  color: #b9b3b3;
  font-size: 15px;

}
.headings{
  color: #fff;
  margin-left: 80px;
}
.nav ul li :hover{
  color: #fff;
}
/* loginpage */

.loginpage{
 border:1px solid #525151;
 margin: 100px auto;
 width: 50%;
}
.login-textarea{
  margin-bottom: 50px;

}
.login-section{
 display: flex;
 margin-bottom: 10px;
 justify-content: center;
 margin-top: 25px;
 margin-left: 40px;

}
.login-heading{
  background-color: #dbc3c3;
  width: 97%;
  padding: 10px;
}
.login-btn{
  display: flex;
  gap: 20px;
 
}

.input-box{
 height: 6vh;
 width: 50%;
 

}

.login-password{
  color: rgb(23, 116, 197);
 
}