nav{
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #525151;

}
.navbar{
  padding-left: 40px;
 
}
nav ul li{
  display: inline;
  list-style: none;
  margin-left: 20px;
 
 
}
nav ul li a{
  text-decoration: none;
  color: #b9b3b3;
  font-size: 15px;

}
.headings{
  color: #fff;
  margin-left: 80px;
}
.nav ul li :hover{
  color: #fff;
}
/* loginpage */

.loginpage{
 
 /* padding-left: 300px; */
 border:1px solid #525151;
 margin: 100px auto;
 width: 50%;


}
.login-textarea{
  margin-bottom: 30px;
 height: 5vh;
 
}
.login-section{
  padding: 30px;
  margin-left: 100px;
  
}
.login-heading{
  background-color: #dbc3c3;
  width: 97%;
  height: 5vh;
  padding: 10px;
}
.login-btn{
  display: flex;
  gap: 20px;
  padding: 30px;
  margin-left: 50px;
  
}
.login-label{
  margin-right: 25px;
}

.input-box{
 height: 6vh;
 width: 50%;

}
.login-checkbox{
  margin-left: 60px;
}
.login-password{
  color: rgb(23, 116, 197);
}